h1 {color: rgb(255, 255, 255);
background-color: black;
#borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 40px round;
  font-family:Bitcount Grid Single;
}
}

.orange{
    background-image:url(IMG/Firefly_create\ a\ image\ of\ a\ fruit\ with\ a\ flat\ background\ 132328\ \(1\).jpg);
    background-size: cover;
    background-position: fixed;
}


.strawberry{
    background-image: url(IMG/Firefly_strawberry\ \ 195371.jpg);
    background-size:cover ;

}
div {
  width: 300px;
  border: 15px solid rgb(0, 0, 0);
  padding: 70px;
  margin: 25px;
  margin-left: 30%;
}
.button {
}
.pineapple{
  background-image: url(IMG/Firefly_create\ a\ image\ of\ a\ pineapple\ 957791\ \(1\).jpg);
  background-size: cover;height: 225px;width: 300px;
border-style: dashed; 
 padding: 100px;
}

div.a {
  text-transform: uppercase;
}

div.b {
  text-transform: lowercase;
}

div.c {
  text-transform: capitalize;
}

p.a {
  font-family: "Times New Roman", Times, serif;
}

p.b {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-shadow: 2px 2px;
}

h2 {
  letter-spacing: 5px;
}

h3 {
  letter-spacing: -2px;
}
h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}